/*
reglas
selectores: Como identificamos un elemento en HTML "<header>"
declaraciones: Se refiere a todo lo que hacemos con ese selector "{}"
propiedades: Cosas particulares que podemos hacer con esos elementos "background"
valores : cosas que esperar recibir variables para funcionar de forma correcta "pink"
*/


/* 
selector de etiqueta:  header - section - article - nav 
    header{
        background: pink;
        color: red;
    }
*/
/* selector descendente: body header div nav ol li a{} */
/* selector de clase: .link */
/* selector de id: #portafolio */


body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding-top: 70px; /*Se coloco para añadir un espaciado y que el menu no se sobreponga sobre el hero */
}

ol,
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

figure{
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}

h1{
    font-size: 40px;
    line-height: 1.5;
    /* font-style: italic; */
    letter-spacing: -.2px;
    /* text-transform: uppercase; */
    /* text-decoration: dashed; */
    color: white;
    /* margin: top right bottom left; */
    /* margin: 100px 150px 70px 30px; */
    margin: 0px;
}

h1 strong{
    color:#026fff;
}

h2{
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

.header{
    background-color: #1d252c;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;

    flex-wrap: wrap;
    z-index: 99; /*Sirve para superponer un elemento sobre otro*/
    width: 100%;
    left: 0;
    top: 0;
    position: fixed; /*Sirve volver estatico  ese elemento */
}

.menu{
    height: inherit;
}

.header ol{
    display: flex;
    height: inherit;
}

.header ol li{
    height: inherit;
}

.header a{
    color: white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.hero{
    height: 300px;
    background-image:url('../images/hero.jpg');
    background-color: #1d252c;
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
    display: flex;
    align-items: center;
}
.hero-note{
    color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.portfolio{
    background: #fafafa;
    padding: 20px;
}

.project{
    /*tamaño tipo estilo*/
    /*border-top: 10px solid red;
    border-right: 10px solid green;
    border-left: 10px solid orange;
    border-bottom: 10px solid pink;*/
    /* color: blue; */
    /* border-top-color: red;
    border-top-width: 15px;
    border-top-style: solid; */

    border: 1px solid gray;
    border-radius: 10px;

    /* border-top-left-radius: 50px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */

    margin-bottom: 15px;

    /* margin-right: 0px;
    margin-top: 0px;
    margin-left: 0px; */

    padding: 20px;

    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project strong{
    font-family: 'Fjalla One', sans-serif;
}

.project-details{
    width: 500px;;
}

.project-title{
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 0px;
}

.project-course,
.project-date,
.project-url{
    margin: 10px 0;
}

/* .project-date{
    margin: 10px 0px;
} */

.project-description{
    font-size: 20px;
}

.project-imageContainer{
    width: 500px;
}

/* .flexbox{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-wrap: wrap;

    
    color: yellow;
} */

.box{
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 1px solid red;

    
    flex-shrink: 0;
}

.event-list-title{
    margin-left: 20px;
}

.event-list{
    display: flex;
}

.event{
    /* border: 1px solid red; */
    margin: 10px;
    width: 480px;
    flex-shrink: 0; /*sirve para que nuestros elementos no cambien de tamaño a causa del display flex */
    border-radius: 10px;
    overflow: hidden; /*Sirve para ocultar todo lo que se desborde de nuestra caja */
    background-color: #f4fbff;
}

.event img{
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.event-detail{
    margin: 20px 40px; /*Recuerda no colocar "," cuando solo son dos valores */
    margin-top: -40px;
    background-color: white;
    position: relative;
    padding: 20px;
    text-align: center;
    z-index: 0;
}

.event-description{
    text-align: left;
}

.event-url{
    color: #026fff;
    border: 1px solid;
    padding: 5px 20px;
    text-decoration: none; /*Quita el subrayado a los hipervinculos */
    border-radius: 5px;
}

.footer{
    color: white;
    background-color: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* justify-content: space-between;
    padding: 0px 40px; */
}

.footer img{
    vertical-align: middle; /*Se utiliza para nivelar dicho elemento con el padre */
}

.footer a{
    color: white;
}





