/*
reglas
selectores: Como identificamos un elemento en HTML "<header>"
declaraciones: Se refiere a todo lo que hacemos con ese selector "{}"
propiedades: Cosas particulares que podemos hacer con esos elementos "background"
valores : cosas que esperar recibir variables para funcionar de forma correcta "pink"
*/


/* 
selector de etiqueta:  header - section - article - nav 
    header{
        background: pink;
        color: red;
    }
*/
/* selector descendente: body header div nav ol li a{} */
/* selector de clase: .link */
/* selector de id: #portafolio */


body{
    font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}

h1{
    font-size: 40px;
    line-height: 1.5;
    /* font-style: italic; */
    letter-spacing: -.2px;
    /* text-transform: uppercase; */
    /* text-decoration: dashed; */

}
.hero{
    height: 300px;
}

.project-details{
    width: 500px;;
}
.project-imageContainer{
    width: 500px;
}
